body, html {
    width: 100%;
    height: 100%;
}

body{
	background:#fff;
	font-family: "Roboto", sans-serif;
	color:#333;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0px;
    margin-bottom: 0px;
}
.input-group .form-control:focus{
    z-index: 0;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    z-index: 0;
    margin-left: 0px
}
.input-group-btn>.btn:active, .input-group-btn>.btn:focus, .input-group-btn>.btn:hover{
    z-index: 0;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background: #fff;
    border: 0;
    box-shadow: none;
}

.navbar-default{
	background:#fff;
    border-top: 5px solid #00bff3;
    border-bottom: 1px solid #00bff3;
}

.navbar-default .navbar-nav>li>a {
    color: #434a54;
    text-transform: uppercase;
}

.dropdown-menu {
    min-width: 150px;
    padding: 0px 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #00bff3;
}

.dropdown-menu li a{
    color: #fff;
    transition: .8s all;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	border-radius:none
}

.dropdown-menu>li>a{
	padding:10px 20px
}

.navbar-brand{
    padding: 5px 15px
}

.content{
    margin-top:48px;
    margin-bottom:38px; 
}

.home-content .col-md-7 h3, .home-content .col-md-8 h3, .team .col-md-12 h3{
    margin-top: 0px;
    margin-bottom: 38px;
    font-size: 22px;
    color: #434a54;
    text-transform: uppercase
}
.home-content .col-md-7 p{
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
    color: #656d78
}

.about-content, .contact-content{margin-top: 40px}
.bro-download{
    background: #00bff3;
    padding: 15px;
    margin-top: 20px;
    color: #fff
}

.contact-form{
    margin-top: 30px
}

.contact-form .col-md-4:first-child, .contact-form .col-md-12{
    padding-left: 0px
}

.contact-form .col-md-12{
    margin-top: 20px
}

.contact-input{
    height: 40px;
    border-radius: 0px;
    background: transparent;
    border: 1px solid #e1e1e1
}

.btn-contact{
    background: #00bff3;
    color: #fff;
    border: none;
    border-radius: 0px;
    margin-right: 15px;
    padding: 8px 20px
}

.address, .phone, .email{
    margin-bottom: 20px
}

.address h3, .phone h3, .email h3{
    font-size: 22px;
    line-height: 24px;
    color: #434a54;
    font-weight: 300;
    margin-bottom: 10px
}

.address p, .phone p, .email p{
    font-size: 14px;
    line-height: 18px;
    color: #434a54;
    font-weight: 300;
    margin: 0px
}

/*.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f055";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f056";
}*/
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

.panel-default > .panel-heading{
    background: transparent;
}
.panel-group .panel{
    border-radius: 0;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{
    display: block;
}

.job{
    margin-top: 30px
}
.btn-job{
    background: #00bff3;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 20px
}
.job-head h5{
    color: #39c6f4;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px
}
.job-head p{
    color: #7c7c7c;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin: 0px
}
.job-body h4{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #434a54
}

.job-body ul{
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none
}

.sb{
    background: #39c6f4;
    padding: 20px 0px
}
.subscription h3{
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #fff;
}

.sb-input{
    height: 43px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    color: #E6E9ED;
}
.sb-input:focus{
    border-color: #F5F7FA;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="email"].sb-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 300;
}
input[type="email"].sb-input::-moz-placeholder { /* Firefox 19+ */
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 300;
}
input[type="email"].sb-input:-ms-input-placeholder { /* IE 10+ */
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 300;
}
input[type="email"].sb-input:-moz-placeholder { /* Firefox 18- */
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 300;
}
.btn-subscribe, .btn-download {
    color: #434a54;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    height: 43px;
    font-weight: 300px;
    font-size: 16px;
    transition: .5s all;
}
.btn-subscribe:hover, .btn-download:hover {
    color: #39c6f4;
    background-color: #fff;
    border:none;
}
.subscription .col-md-5{
    margin-top: 0px
}
.subscription .col-md-5 p{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.subscription .col-md-5 p i{
    font-size: 45px;
    margin-right: 15px;
    position: relative;
    top: 10px;
}
footer{
    margin: 15px 0px;
}
.footer .col-md-6 ul{
    margin: 0;padding: 0;list-style: none;
}
.footer .col-md-6 ul li{
    display: inline-block;
}
.footer .col-md-6 ul li a{
    color: #434a54;
    transition: .4s all;
    text-decoration: none;
}
.footer .col-md-6 ul li a:hover{
    color: #39c6f4;
}
.footer .col-md-6 ul li:after{
    content: ' | '
}
.footer .col-md-6 ul li:last-child:after{
    content: none
}


@media(min-width:767px) {

    .top-nav-collapse {
        padding: 0;
    }
}

